 <div class="user-details">
  <h3> About Me </h3>
  <p> <h5> {{site.user_description}} </h5> </p>
  <p> 20 year old Electronics and Comms. Engineering undergrad at National Institute of Technology, Hamirpur, HP.
    Interested in Software Development, video game development, data science and open source </p>
  
  <ul type="disc">
      <li>
          Codeforces - <a target="_blank" href="https://codeforces.com/profile/ayush.verma16">ayush.verma16</a>
      </li>
      <li>
            HackerRank - <a target="_blank" href="https://www.hackerrank.com/verma16_ayush">verma16_ayush</a>
      </li>
      <li>
          GitHub - <a target="_blank" href="https://github.com/verma16Ayush">verma16Ayush</a>
      </li>
        
  </ul>


</div>

<div class = "user-details">
    <h1> My Expertise </h1>
    <p> {{site.user_description}} </p>
    <h2>Tech and Tools</h2>
  <div class = "tech"></div>
    <i class="devicon-c-line"></i>
    <i class="devicon-cplusplus-line"></i>
    <i class="devicon-csharp-line"></i>
    <i class="devicon-python-plain-wordmark"></i>
    <p>Proficient in C, C++, C# for unity scripting and python.</p>
  </div>
    <!-- <img src="/assets/img/unity.png" height="60" width="60" > -->
</div>
