<div class="container">
  <div class="user-details">
    <h1> Featured Projects </h1>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <h2> MusicSense0.5 </h2>
      <img alt="project img" src="{{ "/assets/img/ms05.png" | prepend: site.baseurl }}" height="597.88" width ="545.85" />
    </div>
    <div class="six columns">
      <li> Python</li>
      <p>Musicsense 0.5 is an audio fingerprinting Console Application based on Python</p>
      <p>The Project was originally made in a team of four at NITH's intra college hackathon Hack4.0 under mentorship of a final year senior.</p>
      <p>This is my own implementation of the entire project. MusicSense0.5 aims at predicting a song's name by listening to a short clip of it. The project works by creating its own database of peaks in the song relative to other peaks using hashing algorithms and then checking for hash collisions between the listened clip and the database</p>
      <p>Tools and Tech used - Python, image processing functionalities of the SciPy library, SQLite3, PyAudio etc. </p>
      <a class="project-link" target="_blank" href="https://github.com/verma16Ayush/MusicSense0.5">Check it out</a>
    </div>

    <div class="six columns images">
    <h2> i2ascii </h2>
    <img alt="project img" src="{{ "/assets/img/octocat_ascii.png" | prepend: site.baseurl }}" height="597.88" width ="545.85" />
  </div>
  <div class="six columns">
    <li> Python</li>
    <p>i2ascii is another console based python application</p>
    <p>
      The project converts any image into its corresponding ascii art. It works by importing the image, converting it into a duo tone image using dot product of the image matrix with a suitable one dimensional column matrix. The image is then divided into tiles and average brightness of each of those tiles is calculated.
      brightness of each of those tiles is then normalised and looked up on a 70 shade greyscale ramp of ascii characters.
    </p>
    <p>Tools and Tech used - Python, Python Imaging library PIL (pillow)</p>
    <a class="project-link" target="_blank" href="https://github.com/verma16Ayush/i2ascii">Check it out</a>
  </div>
  </div>
  <!--<hr width="80%" size="3" align="center">-->
  
</div>
