<div class="container">
    <div class="user-details">
      <h3> Featured Projects </h3>
    </div>
    <div class="row user-projects">
      <div class="six columns images">
        <img alt="project img" src="{{ "/assets/img/ms05.png" | prepend: site.baseurl }}" />
      </div>
      <div class="six columns">
        <h5> MusicSense0.5 </h5>
        <li> Python</li>
        <p>Musicsense 0.5 is an audio fingerprinting Console Application based on Python</p>
        <p>The Project was originally made in a team of four at NITH's intra college hackathon Hack4.0 under mentorship of a final year senior.</p>
        <p>This is my own implementation of the entire project. MusicSense0.5 aims at predicting a song's name by listening to a short clip of it. The project works by creating its own database of peaks in the song relative to other peaks using hashing algorithms and then checking for hash collisions between the listened clip and the database</p>
        <p>Tools and Tech used - Python, image processing functionalities of the SciPy library, SQLite3, PyAudio etc. </p>
        <a class="project-link" target="_blank" href="https://github.com/verma16Ayush/MusicSense0.5">Check it out</a>
      </div>
    </div>
    <!--<hr width="80%" size="3" align="center">-->
    
  </div>
  